<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.takeatrip" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.RegistrazioneActivity"
            android:label="@string/title_activity_registrazione" >
        </activity>
        <activity
            android:name=".Activities.ProfiloActivity"
            android:label="@string/title_activity_profilo" >
        </activity>
        <activity
            android:name=".Activities.ListaViaggiActivity"
            android:label="@string/title_activity_lista_viaggi" >
        </activity>
        <activity
            android:name=".Activities.CategoriaActivity"
            android:label="@string/title_activity_categoria"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.ViaggioActivity"
            android:label="@string/title_activity_viaggio"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
